html {
    box-sizing: border-box;
    font-size: 62.5%; /*Esto nos permite agregar que 1 rem es igual a 10 pixeles*/
}

*, *:before, *:after {
    box-sizing: inherit;
  }
  body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;  
}

.fondo-imagen {
    position: fixed; /* Fija la imagen al fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca la imagen detrás del contenido */
}

.fondo-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra el fondo sin distorsionarse */
    opacity: 0.5;
}

.container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    max-width: 900px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor-botones{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2%;
}

.left {
    width: 100%;
    background: #f89c1c;
    color: white;
    text-align: center;
    padding: 20px;
}

.right {
    width: 100%;
    padding: 40px;
    text-align: center;
}


.redir{
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: orange;
    padding: 5%;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

@media (min-width: 1140px) {
    .contenedor-botones{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
       
    }

    .redir{
        flex-grow: 1; /* Esto hace que el botón se estire en ancho */
        margin: 0 1rem; /* Añade un pequeño margen para separar los botones */
        text-align: center;
        padding: 1rem; /* Ajusta el padding si lo deseas */
        height: 50px; /* Mantén una altura fija para todos los botones */
    }
}


.redir:hover {
    background: #ffffcc;
}



h1 {
    font-size: 28px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

p {
    font-size: 18px;
}

/* button {
    background: #007bff;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 80%;
} */
