<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Carrito </title>
    <link rel="stylesheet" href="../static/css/carrito.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <span class="menu-icon">☰</span>
            <h1>Restaurante: <em>"Cuatro estaciones"</em></h1>
            <div class="icons">
                <span class="cart-icon" ><a href="carrito.html">🛒</span>
                <span class="user-icon"><a href="perfil.html">👤</a></span>
            </div>
        </div>
    </header>
    
    <main class="main-content">
        <section class="page-header">
            <div class="container">
                <h1 class="page-title">Mi Carrito</h1>
            </div>
        </section>

        <section class="cart-section">
            <div class="container">
                <div class="cart-empty">
                    <h2>Tu carrito está vacío</h2>
                    <p>¡Añade algunos productos!</p>
                    <a href="menu.html" class="btn primary-btn">Ver Catálogo</a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>