<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante Cuatro Estaciones</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <!--Archivo de normalización (NO TOCAR)-->
    <link rel="stylesheet" href="../static/css/normalize.css">
</head>

<body>
    <div class="fondo-imagen">
        <img src="../static/img/fondoIndex.jpg" alt="fondoIndex.jpg">
    </div>
    <div class="container">
        <div class="left">
            <h1>Restaurante "Cuatro estaciones"</h1>
            <p>Donde tu paladar y corazón descubren nuevas sensaciones.</p>
        </div>
        <div class="right">
            <h2>¡Bienvenido!</h2>
            <p>¿Antojo de algo delicioso?</p>
            <div class="contenedor-botones">
                <a class="redir" href="{{ url_for('signup') }}">Registrate</a>
                <a class="redir" href="{{ url_for('login') }}">Iniciar Sesion</a>
                <a class="redir" href="/invitado-directo">Invitado</a> 
            </div>
        </div>
    </div>
    <script src="../static/JavaScript/index.js"></script>
</body>

</html>