<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión - Cuatro Estaciones</title>
    <link rel="stylesheet" href="../static/css/login.css" />
     <!--Archivo de normalización (NO TOCAR)-->
     <link rel="stylesheet" href="../static/css/normalize.css">
  </head>
  <body>
    <main class="principal">
      <!--Imagen de fondo-->
      <div class="fondo-imagen">
        <img src="../static/img/fondoIndex.jpg" alt="fondoIndex.jpg" />
      </div>

      <div class="container">
        <div class="left">
          <h1>Restaurante "Cuatro estaciones"</h1>
          <p>Donde tu paladar y corazón descubren nuevas sensaciones.</p>
        </div>
        <div class="right">
          <h2>Inicia sesión.</h2>
          <p>
            Si todavía no tienes una cuenta
            <a href="{{ url_for('login') }}">regístrate aquí.</a>
          </p>

          <div class="formulario-cont">
            <form action="/login" method="POST" class="formulario">
                <input name="usuario" type="text" placeholder="Primer Nombre" required />
                <input name="email" type="email"placeholder="Dirección de correo electrónico"required/>
                <input name="password" type="password" placeholder="Contraseña" required />
                <div class="botonesConf">
                  <button type="submit"> ¡A comer! </button>
                <button type="submit"> Volver </button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </main>
    <script src="JavaScript/login.js"></script>
  </body>
</html>
