<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante Cuatro Estaciones</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <!--Archivo de normalización (NO TOCAR)-->
    <link rel="stylesheet" href="../static/css/normalize.css">
</head>
<body>
     <main class="principal">
        <div class="barra-nav">
         
        </div>

        <div class="fondo-imagen">
            <img src="../static/img/fondoIndex.jpg" alt="fondoIndex.jpg">
        </div> 
        
     </main>
</html>
