<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Método de pago</title>
    <link rel="stylesheet" href="css/metodopago.css" />
</head>
<body>
    <div class="top-bar">
        <a class="menu-icon">☰</a>
        <h1>Restaurante: <em>"Cuatro estaciones"</em></h1>
        <a href="login.html" class="btn-login">¿Iniciar sesión?</a>
    </div>

    <div class="fondo-imagen">
        <img src="img/fondoIndex.jpg" alt="Fondo del sitio">
    </div>

    <div class="container">
        <div class="right">
            <h2>Elige un método de pago</h2>
            <div class="contenedor-botones">
                <div class="grupo">
                    <img src="img/comercio.png">
                    <a class="redir" href="signup.html">Recoger en tienda</a>
                </div>
                <div class="grupo">
                    <img src="img/moto.png">
                    <a class="redir" href="enviodomicilio.html">Envio a domicilio</a>
                </div>
                <div class="grupo">
                    <img src="img/transferencia.png">
                    <a class="redir" href="pagoLinea.html">Pago en linea</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
