<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/principal.css">
    <!-- <link rel="stylesheet" href="css/principal.css"> -->
    <!--Archivo de normalización (NO TOCAR)-->
    <link rel="stylesheet" href="css/normalize.css">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">

    <title>Cuatro Estaciones</title>
</head>

<body>
    <main class="contenedor">

        <!--Fondo de pantalla-->
        <div class="fondo-imagen">
            <img src="../static/img/fondoIndex.jpg" alt="fondoIndex.jpg">
        </div>

        <!--Header-->
        <div class="nav-contenedor">
            <header>
                <div class="nombre-empresa">
                    <a class="nombre-empresa_texto" href="{{ url_for('principal') }}">Restaurante: "Cuatro
                        Estaciones"</a>
                </div>
                <div class="nav_subcontenedor">
                    <nav class="nav-principal">
                        <a class="nav-enlace" href="{{ url_for('reservaciones') }}">Reservaciones</a>
                        <a class="nav-enlace" href="{{ url_for('historialPedidos') }}">Pedidos</a>
                        <a class="nav-enlace" href="#">Nosotros</a>
                    </nav>
                    <div class="nav_menu-img">
                        <a href="#"><img class="nav_enlace-menu" src="../static/img/icons8-menú.svg"
                                alt="icono_menu"></a>
                    </div>
                </div>
            </header>
        </div>

        <h1 class="titulo"> Menú </h1>

        <div class="nav-menu-comida">
            <nav class="menu-general">
                <a href="/principal?tipo=Desayuno" class="tipo-comida">Desayunos</a>
                <a href="/principal?tipo=Almuerzo" class="tipo-comida">Almuerzos</a>
                <a href="/principal?tipo=Cena" class="tipo-comida">Cenas</a>
                <a href="/principal?tipo=Postre" class="tipo-comida">Postres</a>
                <a href="/principal?tipo=Bebida" class="tipo-comida">Bebidas</a>
            </nav>
        </div>

        <!--Sección de la comida-->
        <div class="contenedor-comida">
            {% for item in menu %}
            <div class="platillo">
                <img class="imgPlatillo" src="data:image/png;base64,{{ item.foto }}" alt="Imagen de {{ item.nombre }}"
                    width="200">
                <h2>{{ item.nombre }}</h2>
                <p>{{ item.descripcion }}</p>

                <p><strong>$:</strong>{{ item.precio }}</p>
                <p><strong>Estado:</strong> {% if item.disponible %} Disponible {% else %} No disponible {% endif %}</p>

                {% if item.disponible %}
                <button type="button" class="btn-agregar"
                data-id="{{ item.id }}"
                data-nombre="{{ item.nombre }}"
                data-precio="{{ item.precio }}">
                Agregar al pedido
                </button>
                {% else %}
                <button class="btn-agregar" disabled>Agotado</button>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </main>

    <div id="modalPedido" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Agregar al pedido</h2>
            <form action="/principalPedido" method="POST">
                <input type="hidden" name="id_platillo" id="modal_id_platillo">
                <input type="hidden" name="precio_unitario" id="modal_precio_unitario">
                <div>
                    <label>Platillo:</label>
                    <span id="modal_nombre_platillo"></span>
                </div>
                <div>
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" name="cantidad" id="modal_cantidad" min="1" max="10" required>
                </div>
                <div>
                    <label for="is_delivery">¿Es pedido a domicilio?</label>
                    <input type="checkbox" name="is_delivery" id="modal_delivery">
                </div>
                <div>
                    <label>Total a pagar:</label>
                    <span id="modal_pago_total">$0.00</span>
                </div>
                <button type="submit" class="btn">Agregar</button>
            </form>
        </div>
    </div>


    <script src="../static/JavaScript/modalPrincipal.js"></script>
</body>

</html>