<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante Cuatro Estaciones</title>
    <link rel="stylesheet" href="../static/css/signup.css">
</head>

<body>
    <div class="fondo-imagen">
        <img src="../static/img/fondoIndex.jpg" alt="fondoIndex.jpg">
    </div>
    <div class="container">
        <div class="left">
            <div class="hero">

            </div>
            <h1>Restaurante "Cuatro estaciones"</h1>
            <p>Donde tu paladar y corazón descubren nuevas sensaciones.</p>
        </div>
        <div class="right">
            <h2>Crea tu cuenta</h2>
            <p>Crea tu cuenta para poder ingresar, no te tomará más de un minuto. Si ya tienes una cuenta <a
                    href="{{ url_for('login') }}">inicia sesión</a>.</p>
            <form id="signupForm" method="POST" action="/signup">
            <input type="text" name="firstName" placeholder="Primer Nombre" required>
            <input type="text" name="secondName" placeholder="Segundo Nombre">
            <input type="text" name="lastName" placeholder="Primer Apellido" required>
            <input type="text" name="secondLastName" placeholder="Segundo Apellido">
            <input type="text" name="address" placeholder="Dirección" required>
            <input type="tel" name="phone" placeholder="Número telefónico" required>
            <input type="email" name="email" placeholder="Correo Electrónico" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <input type="password" name="confirmPassword" placeholder="Confirmar contraseña" required>
            <button type="submit">¡A comer!</button>
</form>
            </form>
        </div>
    </div>
    <script src="../static/JavaScript/signup.js"></script>
</body>

</html>